/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F7F3E9;

}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Layouts */

.viewport {
  height: 100vh;
  display: flex;
  flex-grow: 1;
  overflow: hidden;

}

.form-submit {
  background-color: #0aca34ad;
  padding: 8px 15px;
  border-radius: 6px;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.form-submit:hover {
  background-color: #06fc3bad;
  transform: scale(1.05);
}