.customSingleCard {
    background-color: #f7f3e9;
    border-radius: 10px;
    padding: 10px 15px !important;
}

.customCardBody {
    background-color: #10242d;
    border-radius: 10px;
    padding: 25px 35px !important;
}