.showPageContainer {
    background-color: #F7F3E9;
    width: 100%;
    overflow-y: scroll;
}

.showPageContainer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: grey;

}

.showPageContainer::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 999px;
    background-color: rgb(187, 185, 185);
}